# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
wheels/

# Virtual environments
.venv/
venv/
env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# pyenv
.python-version

# mypy / type checkers
.mypy_cache/
.dmypy.json
.pyre/

# Ruff / linters
.ruff_cache/

# Environments
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
